
html,
body {
  min-width: 100wv;
  margin: 0;  
  background-color: #F7EECD;
  
  /* padding: 30px 47px 0 47px;
  @media (max-width: 428px) and (max-height: 926px){
   padding: 30px 20px 0 20px;
} */

}


